.root{
    margin-top: 7rem;
}

.image{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:1rem 0;
}

.image img{
    width: 25rem;
    margin: 0 auto;
}

.content{
    background-color: #7D7672;
    margin-top: 2rem;
    padding: 2rem 0;
}

.text{
    max-width: 80%;
    padding: 1rem;
    text-align: justify;
    margin: 0 auto;
    color: #fff;
}

.text p{
    font-size: 2rem;
    font-weight: 300;
}